# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables & virtual environment
.env
.venv/
env/
venv/

# Temporary generated PDF reports
reports/*.pdf

# IDE & OS settings
.vscode/
.idea/
.DS_Store
